* {
	font-family: "Arial";
}

.btn {
	background: #3d9bdc;
	border-radius: 5px;
	color: #f7fdff;
	height: 45px;
	line-height: 45px;
	margin: 10px;
	text-align: center;
	text-shadow: 1px 0px #111;
	width: 120px;
}

.btn:hover {
	background: #296c99;
}

.btn:active {
	background: #14374e;
}


p {
	margin: 20px;
}

a {
	margin: 20px;
	color: #307967;
}

